#aboutme {
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid var(--white);
  margin-top: 230px;
  padding-bottom: 100px;

  .aboutme__wrap {
    display: flex;
    justify-content: space-between;
    padding: 0 90px 60px;
    width: 1200px;

    img {
      width: 250px;
      height: 350px;
      margin-right: 80px;
    }

    .aboutme__txt__wrap {
      .subject__txt {
        padding-bottom: 1.5rem;
      }

      span {
        font-size: 1.15rem;
        display: block;
        width: 700px;
        padding-left: 15px;
      }

      .skill {
        position: relative;
        padding-top: 2.5rem;

        h1 {
          font-size: 1.6rem;
          padding-left: 13px;
        }

        hr {
          position: absolute;
          left: 0;
          width: 580px;
        }

        .skill__ul {
          padding-top: 1.8rem;
          li {
            padding: 0.3rem;
            span {
              font-size: 0.9rem;
            }
          }
        }
      }
    }
  }
}

@media (max-width: 1100px) {
  #aboutme {
    margin-top: 180px;

    .aboutme__wrap {
      display: flex;
      justify-content: center;
      align-items: center;
      padding-bottom: 0;

      .aboutme__txt__wrap {
        display: flex;
        flex-direction: column;
        padding: 30px 0 60px 0;
        width: 550px;
        transition: 1s;

        .subject__txt {
          padding-bottom: 20px;
        }

        .skill {
          hr {
            width: 480px;
          }

          .skill__ul {
            padding-top: 20px;
            li {
              padding: 2.5px;
              span {
                font-size: 0.9rem;
              }
            }
          }
        }
      }
    }
  }
}

@media (max-width: 700px) {
  #aboutme {
    margin: 130px;
    border: none;

    .aboutme__wrap {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      img {
        margin: 0;
      }

      .aboutme__txt__wrap {
        width: 350px;
        transition: 1s;

        .subject__txt {
          padding-bottom: 20px;
        }

        .skill {
          padding-left: 6px;
          hr {
            width: 360px;
          }

          .skill__ul {
            padding-top: 20px;
            li {
              padding: 2.5px;
              span {
                font-size: 0.9rem;
              }
            }
          }
        }
      }
    }
  }
}
