#header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 70px;
  z-index: 10000;
  // background-color: var(--black);
}

#main {
  max-width: 2000px;
  min-height: 100vh;
  // background-color: var(--white300);
}

.subject__txt {
  font-size: 26px;
  font-weight: 500;
  letter-spacing: 2px;
  color: var(--white);
  // text-shadow: -2px 0 var(--white), 0 2px var(--white), 2px 0 var(--white),
  //   0 -2px var(--white);
  padding: 20px 0;
  i {
    padding: 5px;
  }
}
