#header {
  position: fixed;
  left: 0;
  top: 0;
  width: 260px;
  height: 100%;
  overflow-y: auto;
  z-index: 10000;
  background-color: var(--black);
  transition: left 0.3s;

  h1 {
    position: fixed;
    left: 0;
    top: 0;
  }
  .header__menu {
    margin-top: 90px;
    background-color: #aaa;
    left: -260px;
  }
  &.active {
    left: 0;
  }
}
