#header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 70px;
  z-index: 10000;
}

#main {
  max-width: 2000px;
  min-height: 100vh;
}

.subject__txt {
  font-size: 26px;
  font-weight: 500;
  color: var(--white);
  padding: 0 0 20px 0;
  i {
    padding: 5px;
  }
}
