#project {
  display: flex;
  flex-direction: column;
  border-bottom: 2px solid var(--brown100);
  position: relative;
  top: 180px;
  padding: 0 150px 50px 150px;

  h1 {
    padding-bottom: 15px;
  }

  .project__content__wrap {
    display: flex;
    justify-content: space-evenly;
    .project__content {
      padding: 15px;
    }
  }
}

@media (max-width: 1280px) {
  #project {
    padding: 0 20px 60px 20px;
  }
}

// @media (max-width: 800px) {
//   #project {
//     img {
//       width: 350px;
//       height: 350px;
//     }
//   }
// }
