$animation-duration: 30s;

#project__home {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  padding: 80px 0;
  border-bottom: 1px solid var(--white);

  .subject__txt {
    writing-mode: vertical-rl;
    padding-bottom: 60px;
    text-orientation: upright;
  }

  .project__home__content__wrap {
    display: flex;
    overflow: hidden;
    width: 800px;

    &:hover .project__home__content__animation__wrap {
      animation-play-state: paused;
    }

    .project__home__content__animation__wrap {
      display: flex;
      min-width: 200%;
      animation: flowImage $animation-duration linear infinite;

      .project__content {
        display: flex;
        flex-shrink: 0;
        width: 250px;
        height: 280px;
        padding: 7px;

        .project__img {
          background-size: cover;
        }
      }
    }
  }
}

.project__home__content__animation__wrap.clone {
  position: absolute;
  left: 100%;
}

@keyframes flowImage {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}
