#project__home {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  top: 80px;
  border-bottom: 1px solid var(--white);
  padding-bottom: 80px;

  .subject__txt {
    writing-mode: vertical-rl;
    padding-bottom: 80px;
    text-orientation: upright;
  }

  .project__home__content__wrap {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 25px;
    overflow: hidden;
    width: 800px;

    .project__home__content__animation__wrap {
      display: flex;
      // justify-content: center;
      // align-items: center;
      // padding-bottom: 25px;
      // overflow: hidden;
      // width: 800px;
      animation: flowImage 15s linear infinite;

      &:hover {
        animation-play-state: paused;
      }

      .project__content {
        width: 250px;
        height: 300px;
        margin-left: 20px;

        .project__img {
          background-image: cover;
        }
      }
    }
  }
}

@keyframes flowImage {
  0% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(-100%);
  }
  50.01% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(0);
  }
}

// @media (max-width: 1280px) {
//   #project {
//     padding: 0 20px 60px 20px;

//     h1 {
//       padding-bottom: 50px;
//     }

//     .project__content__wrap {
//       padding-bottom: 15px;

//       .project__content {
//         width: 350px;
//         height: 400px;
//         margin-left: 15px;
//       }
//     }
//   }
// }
