#sideMenu {
  position: relative;
  display: none;
  top: 0;
  right: 0;
  width: 120px;
  height: 60px;

  .sideMenu__button {
    position: absolute;
    top: 12px;
    right: 30px;
    display: none;
    color: white;
    background: none;
    cursor: pointer;
    font-size: 18px;
    text-shadow: -2px 0 var(--black), 0 2px var(--black), 2px 0 var(--black),
      0 -2px var(--black);
  }

  ul {
    position: absolute;
    top: 70px;
    text-align: right;

    a {
      color: black;
      background-color: none;
      border-radius: 10px;
      font-size: 18px;
      text-shadow: -1px 0 var(--white400), 0 1px var(--white400),
        2px 0 var(--white400), 0 -2px var(--white400);
    }
  }
}

@media (max-width: 600px) {
  #sideMenu {
    display: block;

    .sideMenu__button {
      display: block;
    }
  }
}

@keyframes slidedown {
  0% {
    transform: translateY(-30%);
    opacity: 0;
  }

  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

.slideDown {
  overflow: hidden;
}

.slideDown > ul {
  animation: slidedown 1s ease;
}

@keyframes slideup {
  0% {
    transform: translateY(0);
    opacity: 1;
  }

  100% {
    transform: translateY(-40%);
    opacity: 0;
  }
}

.slideUp {
  overflow: hidden;
}

.slideUp > ul {
  animation: slideup 0.6s ease-in-out;
  animation-fill-mode: forwards;
}
