#sideMenu {
  display: none;
  position: absolute;
  top: 55px;
  left: 0;
  width: 120px;
  background-color: none;
  padding: 10px 20px 20px;
  border-radius: 10px;

  .sideMenu__button {
    display: none;
    color: white;
    background: none;
    cursor: pointer;
    font-size: 23px;
    text-shadow: -2px 0 var(--blackAlpha300), 0 2px var(--blackAlpha300),
      2px 0 var(--blackAlpha300), 0 -2px var(--blackAlpha300);
  }

  .toggle__menu {
    a {
      color: white;
      text-shadow: -2px 0 var(--blackAlpha300), 0 2px var(--blackAlpha300),
        2px 0 var(--blackAlpha300), 0 -2px var(--blackAlpha300);
    }
  }
}

@media (max-width: 800px) {
  #sideMenu {
    display: block;

    .sideMenu__button {
      display: block;
    }
  }
}
