body {
  background-color: var(--black);
  color: var(--black);

  h1 {
    // text-shadow: -2px 0 var(--brown100), 0 2px var(--brown100),
    //   2px 0 var(--brown100), 0 -2px var(--brown100);
    color: var(--white);
  }

  a {
    // text-shadow: -2px 0 var(--brown100), 0 2px var(--brown100),
    //   2px 0 var(--brown100), 0 -2px var(--brown100);
    color: var(--white);
  }

  span {
    // text-shadow: -2px 0 var(--brown100), 0 2px var(--brown100),
    //   2px 0 var(--brown100), 0 -2px var(--brown100);
    color: var(--white);
  }
}
