body {
  background-color: var(--black);
  color: var(--black);

  h1 {
    letter-spacing: 2.5px;
    color: var(--white);
  }

  a {
    letter-spacing: 1px;
    color: var(--white);
  }

  span {
    letter-spacing: 2px;
    color: var(--white);
  }
}
